# Python fundamentals 1

In [2]:
my_fruit = input()
print(f'I like to eat {my_fruit}')

I like to eat apple

In [3]:
age = int(input('Give me your age'))
print(f"In 5 years you're going to be {age + 5} years old")

In 5 years you're going to be 41 years old

In [6]:
loves_math = True
age = 33
type(age), age, type(loves_math)

(int, 33, bool)

In [8]:
print(f"{loves_math = }")

loves_math = True

## Collections

- list
- tupple
- set
- dictionary

In [10]:
# list of one data type only
interests = ["yoga", "football", "formula 1", "programming"]

# list of mixed data types
person = ["Alisher", 36, True]

person

['Alisher', 36, True]

In [11]:
interests

['yoga', 'football', 'formula 1', 'programming']

In [12]:
type(person), type(person[1])

(list, int)

### Slicing and Indexing

In [13]:
interests[1:3]

['football', 'formula 1']

In [14]:
interests[-1], interests[::-1]

('programming', ['programming', 'formula 1', 'football', 'yoga'])

In [15]:
person.append(interests)
person

['Alisher', 36, True, ['yoga', 'football', 'formula 1', 'programming']]

In [17]:
person[-1][-3], person[-1][-3][::-1]

('football', 'llabtoof')

In [18]:
persons_interests = person[-1]
persons_interests

['yoga', 'football', 'formula 1', 'programming']

### Iterate over list

In [19]:
for interest in persons_interests:
    print(interest)

yoga
football
formula 1
programming

In [20]:
for i, interest in enumerate(persons_interests):
    print(i+1, interest)

1 yoga
2 football
3 formula 1
4 programming

In [21]:
for i, interest in enumerate(persons_interests, 1):
    print(i, interest)

1 yoga
2 football
3 formula 1
4 programming

### List creation

- append
- list comprehension

In [22]:
numbers = []

for i in range(11):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
numbers = [i for i in range(11)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [25]:
odd_nums_squared = [i**3 for i in numbers if i % 2]
odd_nums_squared

[1, 27, 125, 343, 729]

### Dictionary

- key: value pairs

In [26]:
courses = {"python" : 40, "agile" : 15, "sql" : 30, "data_platform" : 40, "data_modeling" : 30, "visualization" : 40}
courses

{'python': 40,
 'agile': 15,
 'sql': 30,
 'data_platform': 40,
 'data_modeling': 30,
 'visualization': 40}

In [27]:
courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_platform', 'data_modeling', 'visualization'])

In [28]:
len(courses.keys())

6

In [29]:
courses.values()

dict_values([40, 15, 30, 40, 30, 40])

In [30]:
for course in courses:
    print(course)

python
agile
sql
data_platform
data_modeling
visualization

In [35]:
print(f"{'Course':<18} Points")
for course, points in courses.items():
    print(f"{course:<20} {points}")

Course             Points
python               40
agile                15
sql                  30
data_platform        40
data_modeling        30
visualization        40

## Strings

In [37]:
ml_term = "sUperVised   Leraning  "

len(ml_term)

23

In [41]:
" ".join(ml_term.strip().split()).lower()

'supervised leraning'